<div class="col-md-3">
    <a href="{{{ linkcourse }}}">
        <div class="class-box-fp" id="hover_curso" style="height: 200px !important; background-image: url({{{imgurl}}}); background-repeat: no-repeat; background-size: 100% 100%;">
        </div>
        <div style="color: #1c0f37; font-weight: 700; margin-top: 15px;">
            {{{coursename}}}
        </div>
        
        <div style="color: #7a6381; margin-top: 15px; height: 80px; text-overflow: ellipsis; overflow: hidden;">
        	{{{summary}}}
        </div>
        <div>

        </div>
        <div style="margin-top: 15px;">
            <div style="background: #cfc445; width: 60px; height: 30px; border-radius: 10px; padding: 5px 0px 0px 11px; color: #ffffff;">Curso</div>
        </div>
    </a>
</div>
